<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NPBIOMETRIC.Properties.Settings.EnlistConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Enlist.accdb"
            providerName="System.Data.OleDb" />
        <add name="NPBIOMETRIC.Properties.Settings.attendanceConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Mr Tawiah\Documents\attendance.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="NPBIOMETRIC.Properties.Settings.AttendanceRecConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AttendanceRec.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>